$border-thickness: 4px;

:host {
  position: relative;
  display: flex;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

:host:hover {
  .box__content {
    background: rgba(255, 255, 255, 0.2);
  }

  .box__add {
    font-size: 5.5rem;
  }
}

.box__content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease-in-out;
}

.box__add {
  font-size: 5rem;
  transition: font-size 0.2s ease-in-out;
}

.box__border {
  position: absolute;
  width: 20%;
  height: 20%;

  &:nth-of-type(2) {
    top: 0;
    left: 0;
    border-top: $border-thickness solid white;
    border-left: $border-thickness solid white;
  }

  &:nth-of-type(3) {
    top: 0;
    right: 0;
    border-top: $border-thickness solid white;
    border-right: $border-thickness solid white;
  }

  &:nth-of-type(4) {
    bottom: 0;
    right: 0;
    border-bottom: $border-thickness solid white;
    border-right: $border-thickness solid white;
  }

  &:nth-of-type(5) {
    bottom: 0;
    left: 0;
    border-bottom: $border-thickness solid white;
    border-left: $border-thickness solid white;
  }
}
