<div class="box" [ngSwitch]="widget" [class.box--empty]="!widget">
  <ng-container *ngSwitchCase="widgetType.DATE">
    <app-date></app-date>
  </ng-container>

  <ng-container *ngSwitchCase="widgetType.WEATHER">
    WEATHER
  </ng-container>

  <ng-container *ngSwitchCase="widgetType.TODO">
    TODO
  </ng-container>

  <ng-container *ngSwitchCase="widgetType.FAVLINKS">
    FAVLINKS
  </ng-container>

  <ng-container *ngSwitchDefault>
    <app-empty-box *ngIf="isSettingsMode" (widgetSelected)="onWidgetSelected($event)"></app-empty-box>
  </ng-container>

  <div class="box__close">
    <fa-icon *ngIf="widget && isSettingsMode" [icon]="faClose" class="box__close--icon" (click)="onWidgetSelected(null)"></fa-icon>
  </div>

</div>
