<div #app class="app__background">
  <div class="app__content">
    <app-box [isSettingsMode]="isSettingsMode"  [size]="boxSize.SMALL"></app-box>
    <app-box [isSettingsMode]="isSettingsMode"></app-box>
    <app-box [isSettingsMode]="isSettingsMode" [size]="boxSize.SMALL"></app-box>
    <app-box [isSettingsMode]="isSettingsMode"></app-box>
    <app-box [isSettingsMode]="isSettingsMode"></app-box>
  </div>
</div>

<div class="app__settings">
  <fa-icon [icon]="faSettings" class="app__settings-icon" (hover)="toggleSettingsMode()"></fa-icon>
</div>

